<div class='centerNav'>
  <h1>
  <img src='../../assets/fake_logo.png' height=30vw>
  Chapp
</h1>

<!--Global Button-->
<button class='navButton'>Global</button>
</div>

<!--Channels list-->
<h2>Channels</h2>
<hr/>
<ul>
  <li>Option 1</li>
  <li>Option 2</li>
  <li>Option 3</li>
</ul>

<br><div class='centerNav'>

<!--+ Channel Button-->
<button class='navButton' (click)="openCreateChannelDialog()">+ Channel</button>
</div>

<!--Direct Messages list-->
<h2>Direct Messages</h2>
<hr/>
<ul>
  <li>Option 1</li>
  <li>Option 2</li>
  <li>Option 3</li>
</ul>

<!--Admin Controls-->
<h2>Admin Controls</h2>
<hr/>
<ul>
  <li>Manage Users</li>
  <li>Update Channel</li>
  <li>Delete Channel</li>
</ul>