<div id="sidenav__content">
  <div class='centerNav'>
    <h1 style="cursor: pointer" routerLink="/channel/1">
      <img src='../../assets/fake_logo.png' height=30vw>
      Chapp
    </h1>
  </div>

  <h2>
    Channels
    <button class="navButton" (click)="openCreateChannelDialog()">+</button>
  </h2>
  <ul>
    <li *ngFor="let channel of channels" [routerLink]="['/channel', channel.id]" style="cursor: pointer">
      {{ channel.name }}
    </li>
  </ul>

  <h2>Direct Messages</h2>
  <mat-form-field>
    <input matInput
      type="text" 
      name="userSearch"
      placeholder="search for users"
      (input)="searchForUsers($event)"
      [matAutocomplete]="auto">
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="goToDm($event)" [displayWith]="autocompleteDisplay">
      <mat-option *ngFor="let user of userOptions" [value]="user">
        <span style="margin-right: 5px; font-weight: 600">{{ user.first + ' ' + user.last }}</span><span style="font-style: italic">@{{ user.username }}</span>
      </mat-option>
    </mat-autocomplete>
  <ul>
    <li *ngFor="let user of conversations" [routerLink]="['/dm', user.id]" style="cursor: pointer">
      {{ user.username }}
    </li>
  </ul>
</div>