.centerNav {
    text-align:center;
}
.navButton {
    background-color: rgb(65, 65, 65);
    padding-right: 3%;
    border: 1px solid yellow;
    padding-left: 3%;
    color:white;
    font-size: 30px;
    font-family: 'Chakra Petch', sans-serif;
}
li {
    color:white;
    font-family: 'Yantramanav', sans-serif;
    border-bottom: 2px solid rgb(65, 65, 65);
    margin: 3px;
}
ul {
    height:45px;
    overflow: auto;
}

a.sideNavTxt:link { color: grey; text-decoration:none; font-weight:normal; }
a.sideNavTxt:visited { color: grey; text-decoration:none; font-weight:normal; }
a.sideNavTxt:hover { color: grey; text-decoration:none; font-weight:normal; }
a.sideNavTxt:active { color: grey; text-decoration:none; font-weight:normal; }