<mat-sidenav-container id="app-container">
  <mat-sidenav #sidenav [mode]="(screen === 'mobile') ? 'over' : 'side'" [opened]="screen === 'web'" id="sidenav">
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content id="content">

  <!--Top Nav-->
    <mat-toolbar color="primary">
      <button mat-icon-button *ngIf="screen !== 'web'" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <!--Channel Name-->
      <h2 style='color:black;'>[channel name]</h2>
      <span class="fill-remaining-space"></span>

      <!--Profile Icon-->
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu"><div style='text-align:center; margin: 10px;'>
        <button mat-menu-item style='background-color:rgb(128, 189, 128);' (click)="openUpdateUser()">Update User</button><br/>
        <button mat-menu-item style='background-color:rgb(199, 127, 127);'><i class="material-icons" style='vertical-align:middle;'>
            power_settings_new
        </i> Log Out</button>
      </div></mat-menu>
    </mat-toolbar>

    <!--Router-->
    <div id='routerBox'>
    <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>