<div id="auth" [class]="whichForm">

  <section id="login">
    <h2>Login</h2>
    <button mat-fab color="accent" (click)="whichForm = 'toggle'">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
    <form class="login">
        <mat-form-field>
          <input matInput placeholder="Username" required>
        </mat-form-field>
      
        <mat-form-field>
          <input matInput placeholder="Password" type="password" required>
        </mat-form-field>
      
        <button mat-raised-button>Log In</button>
    </form>
  </section>

  <section id="auth-toggle">
    <h2>Toggle</h2>
    <button mat-raised-button color="primary" (click)="whichForm = 'login'">Log In</button> <br> <br>
    <button mat-raised-button color="primary" (click)="whichForm = 'sign-up'">Sign Up</button>
  </section>

  <section id="sign-up">
    <h2>Sign-up</h2>
    <button mat-fab color="accent" (click)="whichForm = 'toggle'">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button> <br> <br> 

      <form class="signup" (submit)="signUp()">
        <mat-form-field>
          <input matInput placeholder="First Name" required>
        </mat-form-field>
      
        <mat-form-field>
          <input matInput placeholder="Last Name" required>
        </mat-form-field>
      
        <mat-form-field>
          <input matInput placeholder="Username" required>
        </mat-form-field>
      
        <mat-form-field>
          <input matInput placeholder="Email" required>
        </mat-form-field>
      
        <mat-form-field>
          <input matInput placeholder="Password" type="password" required>
        </mat-form-field>
      
        <mat-form-field>
          <input matInput placeholder="Confirm Password" type="password" required>
        </mat-form-field>
      
        <button mat-raised-button>Sign Up</button>
      </form>

  </section>

</div>