<div id="auth" [class]="whichForm">
  <section id="login">
    <h2>Login</h2>
    <button mat-fab color="accent" (click)="whichForm = 'toggle'">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button> <br> <br>
    <button mat-raised-button (click)="router.navigate([''])">Login</button>
  </section>
  <section id="auth-toggle">
    <h2><img src='../../assets/fake_logo.png' height=70vw>Choose Option</h2>
    <button mat-raised-button color="primary" (click)="whichForm = 'login'">Login</button> <br> <br>
    <button mat-raised-button color="primary" (click)="whichForm = 'sign-up'">Sign Up</button>
  </section>
  <section id="sign-up">
    <h2>Sign Up</h2>
    <button mat-fab color="accent" (click)="whichForm = 'toggle'">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button> <br> <br>
    <button mat-raised-button>Sign Up</button>
  </section>
</div>