<div>
  <h1 mat-dialog-title style="color: black">Manage Users</h1>
<div mat-dialog-content>
<mat-form-field>
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let user of users" 
        [removable]="true" 
        [selectable]="true" 
        (removed)="removeUser(user)" >
        {{ user.name }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input matInput name="users" placeholder="Users" 
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="userKeySeparators"
        (matChipInputTokenEnd)="addUser($event)">
    </mat-chip-list>
</mat-form-field>
</div>
<i style= 'font-size:12px;'>(Press Enter to add Member, 'X' to remove)</i>
<div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="dialogRef.close()">Cancel</button>
    <button mat-raised-button color="primary" (click)="editUsers()">Update</button>
</div>
<div class="loading-spinner" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
</div>