.messageBox{
    width:86%;
    padding-bottom: 3%;
    margin-left:5%;
    margin-right: 5%;
    float:right;
    margin-bottom: 1%;
    border-bottom: rgb(46, 46, 46) 2px solid;
}
.messageImgWrapper{
    height:100%;
    float:left;
    width:80px;
    margin-top: 20px;
    margin-right: 10px;
}
.messageTextBox{
    height:100%;
    width:65%;
    float:left;
    font-family: 'Yantramanav', sans-serif;
}
.editText{
    font-size: 12px;
    color:grey;
    float:right;
}
a.editText:link { color: grey; text-decoration:none; font-weight:normal; }
a.editText:visited { color: grey; text-decoration:none; font-weight:normal; }
a.editText:hover { color: #FFF; text-decoration:underline; font-weight:normal; }
a.editText:active { color: grey; text-decoration:none; font-weight:normal; }