#app-container {
    height: 100vh;
    width: 100vw;
}

#sidenav {
    width: 280px;
    background-color: rgb(46, 46, 46);
    padding-left: 10px;
    padding-right:10px;
}


#content {
    display: flex;
    flex-direction: column;
    background-color: rgb(65, 65, 65);
}
.fill-remaining-space {
    flex: 1 1 auto;
}
#routerBox{
    height:86.3vh;
    width:100%;
}

/* SideNav CSS */
.centerNav{
    text-align:center;
}
.navButton{
    background-color: rgb(65, 65, 65);
    padding-right: 3%;
    border: 1px solid yellow;
    padding-left: 3%;
    color:white;
    font-size: 30px;
    font-family: 'Chakra Petch', sans-serif;
}
li{
    color:white;
    font-family: 'Yantramanav', sans-serif;
    border-bottom: 2px solid rgb(65, 65, 65);
    margin: 3px;
}
a.navLinks:link { color: grey; text-decoration:none; font-weight:normal; }
a.navLinks:visited { color: grey; text-decoration:none; font-weight:normal; }
a.navLinks:hover { color: #FFF; text-decoration:underline; font-weight:normal; }
a.navLinks:active { color: grey; text-decoration:none; font-weight:normal; }
ul{
    height:45px;
    overflow: auto;
}