<mat-sidenav-container id="app-container">
  <mat-sidenav #sidenav [mode]="(screen === 'mobile') ? 'over' : 'side'" [opened]="screen === 'web'" id="sidenav">

    <div class='centerNav'>
      <h1>
      <img src='../../assets/fake_logo.png' height=30vw>
      Chapp
    </h1>

    <!--Global Button-->
    <button class='navButton' (click)="routeGlobal()">Global</button>
  </div>

  <!--Channels list-->
  <h2>Channels</h2>
  <hr/>
  <ul>
      <li>Option 1</li>
      <li>Option 2</li>
      <li>Option 3</li>
  </ul>

  <br><div class='centerNav'>

  <!--+ Channel Button-->
  <button class='navButton' (click)='routeCreateChannel()'>+ Channel</button>
  </div>

  <!--Direct Messages list-->
  <h2>Direct Messages</h2>
  <hr/>
  <ul>
      <li>Option 1</li>
      <li>Option 2</li>
      <li>Option 3</li>
  </ul>

  <!--Admin Controls-->
  <h2>Admin Controls</h2>
  <hr/>
  <ul>
      <li>Manage Users</li>
      <li>Update Channel</li>
      <li>Delete Channel</li>
  </ul>

  </mat-sidenav><!--End Of SideNav-->

  <mat-sidenav-content id="content">

  <!--Top Nav-->
    <mat-toolbar color="primary">
      <button mat-icon-button *ngIf="screen !== 'web'" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <!--Channel Name-->
      <h2 style='color:black;'>[channel name]</h2>
      <span class="fill-remaining-space"></span>

      <!--Profile Icon-->
      <mat-icon (click)="routeProfile()">account_circle</mat-icon>
    </mat-toolbar>

    <!--Router-->
    <div id='routerBox'>
    <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>