<div id="auth" [class]="whichForm">

  <section id="login">
    <h2>Login</h2>
    <button mat-fab color="accent" (click)="whichForm = 'toggle'">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
    <form class="login" (submit)="login(emails.value, passwords.value); false;">
        <mat-form-field>
          <input matInput #emails placeholder="Email" required>
        </mat-form-field>
      
        <mat-form-field>
          <input matInput #passwords placeholder="Password" type="password" required>
        </mat-form-field>
      
        <button mat-raised-button>Log In</button>
    </form>
  </section>

  <section id="auth-toggle">
    <h1 style='font-size:40px;'>
      <img src='../../assets/fake_logo.png' height=35vw>
      Chapp
    </h1>
    <button mat-raised-button color="primary" (click)="whichForm = 'login'">Log In</button> <br> <br>
    <button mat-raised-button color="primary" (click)="whichForm = 'sign-up'">Sign Up</button>
  </section>

  <section id="sign-up">
<!--<app-stepper></app-stepper>-->
    <h2>Sign-up</h2>
    <button mat-fab color="accent" (click)="whichForm = 'toggle'">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button> <br> <br> 

      <form class="signup" (submit)="signUp(first.value, last.value, username.value, email.value, password.value, confirmPassword.value); false;">
        <mat-form-field>
          <input #first matInput placeholder="First Name" required>
        </mat-form-field>
      
        <mat-form-field>
          <input #last matInput placeholder="Last Name" required>
        </mat-form-field>
      
        <mat-form-field>
          <input #username matInput placeholder="Username" required>
        </mat-form-field>
      
        <mat-form-field>
          <input #email matInput placeholder="Email" required>
        </mat-form-field>
      
        <mat-form-field>
          <input #password matInput placeholder="Password" type="password" required>
        </mat-form-field>
      
        <mat-form-field>
          <input #confirmPassword matInput placeholder="Confirm Password" type="password" required>
        </mat-form-field>
      
        <button mat-raised-button>Sign Up</button>
      </form>

  </section>

</div>