#auth {
    display: flex;
    flex-direction: row;
    transition: transform 350ms ease;

    section {
        width: 100vw;
        height: 100vh;
        flex: 0 0 auto;
        position: relative;

        & > div {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
        }
    }

    button[mat-fab] {
        position: absolute;
        top: 4rem;
    }

    #toggle {
        div {
            width: 500px;
        }
    }

    #sign-up {
        button[mat-fab] {
            right: 4rem;
        }
        & > div {
            width: 80%;
            height: 500px;
            .step-inputs {
                .mat-form-field {
                    width: 250px;
                }
            }
        }
    }

    #login {
        button[mat-fab] {
            left: 4rem;
        }
        & > div form {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2 {
                font-family: Roboto,"Helvetica Neue",sans-serif;
            }
            .mat-form-field {
                width: 300px;
            }
        }
    }

    &.toggle { transform: translateX(-100vw) }
    &.sign-up { transform: translateX(0)  }
    &.login { transform: translateX(-200vw) }
}