#auth {
    display: flex;
    flex-direction: row;
    transition: transform 425ms ease;
}

#auth.toggle {
    transform: translateX(-100vw);
}

#auth.login {
    transform: translateX(0);
}

#auth.sign-up {
    transform: translateX(-200vw);
}

#auth section {
    position: relative;
    height: 100vh;
    width: 100vw;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#auth button[mat-fab] {
    position: absolute;
    top: 50px;
}

#auth.login button[mat-fab] {
    right: 50px;
}

#auth.sign-up button[mat-fab] {
    left: 50px;
}

.login {
    display: flex;
    flex-direction: column;
    width: 50vh;
}

.signup {
    display: flex;
    flex-direction: column;
    width: 50vh;
}