<div id="dm-layout">
  <div id='messageContainer'>
    <ng-container *ngIf="(messages.length > 0) else noMessages">
      <ng-container *ngFor="let message of messages">
        <app-direct-message-box [message]="message" (onMessageDelete)="onMessageDelete($event)"></app-direct-message-box>
      </ng-container>
    </ng-container>

    <ng-template #noMessages>
      <div style="padding: 30px">
        <h2>Looks you haven't send any messages to this user yet</h2>
        <p>Go ahead and send one</p>
      </div>
    </ng-template>
  </div>
      
  <div class='sendMessageBox'>
    <input type='text' style='
    font-size:20px;
    flex: 1 1 auto;
    background-color:rgb(65, 65, 65);
    border: 1px solid yellow;' [(ngModel)]="messageInput">
    <button class='sendButton' (click)="sendMessage()">Send</button>
  </div>
</div>