<div id='profileWrapper'>
    <b style='color:red'>[CHANNEL WILL CHANGE TO USERNAME ONINIT]</b>
<div class='pLeftBox'>
<h2> Change Email </h2>
<input tyle='text' class='updateBox'>
</div>

<div class='pLeftBox'>
<h2> Change Photo </h2>
<input tyle='text' class='updateBox'><br/><br/> 
<i style='color:white;font-size:12px;'>(Make sure to use the image address)</i>
</div>

<div class='pWideBox'>
<button class='updateButton'>Update</button><br><br><br><br>

<b style="color:white; font-family: 'Chakra Petch', sans-serif; font-size: 20px;">
<i class="material-icons" style='color:white;'>power_settings_new</i>
 Log Out
</b> 

</div>
</div>