<!--Overall Message Container-->
    <div id='messageContainer'>

  <!--Message Boxes-->
  <app-message-box></app-message-box>
  <app-message-box></app-message-box>
  <app-message-box></app-message-box>
  <app-message-box></app-message-box>
  <app-message-box></app-message-box>
  <app-message-box></app-message-box>

  </div>
    
  <!--text box-->
    <div class='sendMessageBox'>
      <input type='text' style='
      font-size:20px;
      flex: 1 1 auto;
      background-color:rgb(65, 65, 65);
      border: 1px solid yellow;'>
      <button class='sendButton'>Send</button>
    </div>