<div>
  <h1 mat-dialog-title style="color: black">Update User Info</h1>
  <div mat-dialog-content>
    <form>
      <mat-horizontal-stepper>
          <mat-step label="Username">
              <mat-form-field>
                  <input matInput #username name="Username" placeholder="Username" [(ngModel)]="Username" cdkFocusInitial>
              </mat-form-field><br>
            <button mat-raised-button matStepperNext type="button">Next</button>
          </mat-step>
          <mat-step label="Change Photo">
              <mat-form-field>
                  <input matInput name="Photo" #photo placeholder="Photo" [(ngModel)]="Photo" cdkFocusInitial>
              </mat-form-field><br>
              <i style= 'font-size:12px;'>(Make sure to use the image address)</i><br/><br/>
              <button mat-raised-button matStepperPrevious type="button">Previous</button>
          </mat-step>
      </mat-horizontal-stepper>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="dialogRef.close()">Cancel</button>
    <button mat-raised-button color="primary" (click)="updateUser(username.value, photo.value); false;">Ok</button>
  </div>

  <div class="loading-spinner" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
