    <!--Individual Message Container-->
    <div class='messageBox'>
      <div class='messageImgWrapper'>
        
        <!--Profile Photo-->
        <img src='../../assets/testImg.jpeg' style='
        width:80px;
        height:80px;
        border: 0px solid black;
        border-radius:100%;
        object-fit:cover;'></div>
        <div class='messageTextBox'>

      <!--Username-->
      <h3>Username</h3>

      <!--Message-->
      Text Text Text Text
      <br> Text Text Text Text

      <!--Edit Message Button-->
      <a href='#' class='editText'>Edit</a>
    </div>

      <!--Delete Image-->
      <mat-icon style='
      color:grey;
      margin-top:50px;
      float:right;
      '>delete</mat-icon>
    </div>